.shoe-container{
  display: flex;
}
body{
  background-color: rgb(223, 255, 223);
}
.navlink{
  font-family: 'Courier New', Courier, monospace;
  padding: 30px;
  font-size: 30px;
  text-decoration: none;
  font-weight: 700;
  color: black;
}
.main{
  text-align: center;
}
h1{
  font-size: 30px;
  text-decoration: none;
  color: black;
}
.products{
  text-align: center;
  padding: 20px;
  text-decoration: none;
  text-transform: capitalize;
  
}
.products img{
  transition: 0.3s;
}
.products img:hover{
  scale: 1.1;
}
